{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Clown licence",
  serviceUrl: "#",
  navigation: [
      {
      href: "#",
      text: "Start"
      },
    {
      href: "#",
      text: "Application",
      active: true
    },
    {
      href: "#",
      text: "Documents"
    },
    {
      href: "#",
      text: "Declaration"
    },
    {
      href: "#",
      text: "Pay"
    }
  ]
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

 <form class="form" action="check-answers-address" method="post">

        
  
  <div class="govuk-form-group">     

      <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      What is your address?
    </h1>
  </legend>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Address line 1
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="int-address-line-1" name="intAddressLine1" type="text" autocomplete="int-address-line1">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="int-address-line-2">
      Address line 2 (optional)
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="int-address-line-2" name="intAddressLine2" type="text" autocomplete="int-address-line2">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="int-address-town">
      Town or city
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="int-address-town" name="intAddressTown" type="text" autocomplete="address-level2">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-state">
      Province/Region/State (optional)
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-state" name="addressState" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postal-code">
      Postal code (if applicable)
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postal-code" name="addressPostalCode" type="text" autocomplete="postal-code">
  </div>
   <div class="govuk-form-group">
    <label class="govuk-label" for="address-country">
      Country
    </label>
    <div class="govuk-hint" data-test-type="hint" id="undefined-hint">Enter the first letter of the country and select from the list</div>
    <div class="govuk-form-group">
    <select class="govuk-select" id="address-country" name="addressCountry"> 
      <option data-test-type="select-option" hint="[object Object]" value="AFG">Afghanistan</option> 
      <option data-test-type="select-option" hint="[object Object]" value="ALB">Albania</option>
      <option data-test-type="select-option" hint="[object Object]" value="DZA">Algeria</option>
      <option data-test-type="select-option" hint="[object Object]" value="AND">Andorra</option>
      <option data-test-type="select-option" hint="[object Object]" value="AGO">Angola</option>
      <option data-test-type="select-option" hint="[object Object]" value="AIA">Anguilla</option>
      <option data-test-type="select-option" hint="[object Object]" value="ATG">Antigua and Barbuda</option>
      <option data-test-type="select-option" hint="[object Object]" value="ARG">Argentina</option>
      <option data-test-type="select-option" hint="[object Object]" value="ARM">Armenia</option>
      <option data-test-type="select-option" hint="[object Object]" value="AUS">Australia</option>
      <option data-test-type="select-option" hint="[object Object]" value="AUT">Austria</option>
      <option data-test-type="select-option" hint="[object Object]" value="AZE">Azerbaijan</option>
      <option data-test-type="select-option" hint="[object Object]" value="BHR">Bahrain</option>
      <option data-test-type="select-option" hint="[object Object]" value="BGD">Bangladesh</option>
      <option data-test-type="select-option" hint="[object Object]" value="BRB">Barbados</option>
      <option data-test-type="select-option" hint="[object Object]" value="BLR">Belarus</option>
      <option data-test-type="select-option" hint="[object Object]" value="BEL">Belgium</option>
      <option data-test-type="select-option" hint="[object Object]" value="BLZ">Belize</option>
      <option data-test-type="select-option" hint="[object Object]" value="BEN">Benin</option>
      <option data-test-type="select-option" hint="[object Object]" value="BMU">Bermuda</option>
      <option data-test-type="select-option" hint="[object Object]" value="BTN">Bhutan</option>
      <option data-test-type="select-option" hint="[object Object]" value="BOL">Bolivia</option>
      <option data-test-type="select-option" hint="[object Object]" value="BIH">Bosnia and Herzegovina</option>
      <option data-test-type="select-option" hint="[object Object]" value="BWA">Botswana</option>
      <option data-test-type="select-option" hint="[object Object]" value="BRA">Brazil</option>
      <option data-test-type="select-option" hint="[object Object]" value="ATB">British Antarctic Territory</option>
      <option data-test-type="select-option" hint="[object Object]" value="IOT">British Indian Ocean Territory</option>
      <option data-test-type="select-option" hint="[object Object]" value="GBN">British National (Overseas)</option>
      <option data-test-type="select-option" hint="[object Object]" value="GBO">British Overseas Citizen</option>
      <option data-test-type="select-option" hint="[object Object]" value="GBD">British Overseas Territories</option>
      <option data-test-type="select-option" hint="[object Object]" value="GBP">British Protected Person</option>
      <option data-test-type="select-option" hint="[object Object]" value="GBS">British Subject</option>
      <option data-test-type="select-option" hint="[object Object]" value="VGB">British Virgin Islands</option>
      <option data-test-type="select-option" hint="[object Object]" value="BRN">Brunei</option>
      <option data-test-type="select-option" hint="[object Object]" value="BGR">Bulgaria</option>
      <option data-test-type="select-option" hint="[object Object]" value="BFA">Burkina Faso</option>
      <option data-test-type="select-option" hint="[object Object]" value="BDI">Burundi</option>
      <option data-test-type="select-option" hint="[object Object]" value="KHM">Cambodia</option>
      <option data-test-type="select-option" hint="[object Object]" value="CMR">Cameroon</option>
      <option data-test-type="select-option" hint="[object Object]" value="CAN">Canada</option>
      <option data-test-type="select-option" hint="[object Object]" value="CPV">Cape Verde</option>
      <option data-test-type="select-option" hint="[object Object]" value="CYM">Cayman Islands</option>
      <option data-test-type="select-option" hint="[object Object]" value="CAF">Central African Republic</option>
      <option data-test-type="select-option" hint="[object Object]" value="TCD">Chad</option>
      <option data-test-type="select-option" hint="[object Object]" value="CHL">Chile</option>
      <option data-test-type="select-option" hint="[object Object]" value="CHN">China</option>
      <option data-test-type="select-option" hint="[object Object]" value="COL">Colombia</option>
      <option data-test-type="select-option" hint="[object Object]" value="COM">Comoros</option>
      <option data-test-type="select-option" hint="[object Object]" value="COG">Congo</option>
      <option data-test-type="select-option" hint="[object Object]" value="COD">Congo (Democratic Republic)</option>
      <option data-test-type="select-option" hint="[object Object]" value="CRI">Costa Rica</option>
      <option data-test-type="select-option" hint="[object Object]" value="HRV">Croatia</option>
      <option data-test-type="select-option" hint="[object Object]" value="CUB">Cuba</option>
      <option data-test-type="select-option" hint="[object Object]" value="CYP">Cyprus</option>
      <option data-test-type="select-option" hint="[object Object]" value="CZE">Czechia</option>
      <option data-test-type="select-option" hint="[object Object]" value="DNK">Denmark</option>
      <option data-test-type="select-option" hint="[object Object]" value="DJI">Djibouti</option>
      <option data-test-type="select-option" hint="[object Object]" value="DMA">Dominica</option>
      <option data-test-type="select-option" hint="[object Object]" value="DOM">Dominican Republic</option>
      <option data-test-type="select-option" hint="[object Object]" value="TLS">East Timor</option>
      <option data-test-type="select-option" hint="[object Object]" value="ECU">Ecuador</option>
      <option data-test-type="select-option" hint="[object Object]" value="EGY">Egypt</option>
      <option data-test-type="select-option" hint="[object Object]" value="SLV">El Salvador</option>
      <option data-test-type="select-option" hint="[object Object]" value="GNQ">Equatorial Guinea</option>
      <option data-test-type="select-option" hint="[object Object]" value="ERI">Eritrea</option>
      <option data-test-type="select-option" hint="[object Object]" value="EST">Estonia</option>
      <option data-test-type="select-option" hint="[object Object]" value="SWZ">Eswatini</option>
      <option data-test-type="select-option" hint="[object Object]" value="ETH">Ethiopia</option>
      <option data-test-type="select-option" hint="[object Object]" value="FLK">Falkland Islands</option>
      <option data-test-type="select-option" hint="[object Object]" value="FJI">Fiji</option>
      <option data-test-type="select-option" hint="[object Object]" value="FIN">Finland</option>
      <option data-test-type="select-option" hint="[object Object]" value="FRA">France</option>
      <option data-test-type="select-option" hint="[object Object]" value="GAB">Gabon</option>
      <option data-test-type="select-option" hint="[object Object]" value="GEO">Georgia</option>
      <option data-test-type="select-option" hint="[object Object]" value="DEU">Germany</option>
      <option data-test-type="select-option" hint="[object Object]" value="GHA">Ghana</option>
      <option data-test-type="select-option" hint="[object Object]" value="GIB">Gibraltar</option>
      <option data-test-type="select-option" hint="[object Object]" value="GRC">Greece</option>
      <option data-test-type="select-option" hint="[object Object]" value="GRD">Grenada</option>
    <option data-test-type="select-option" hint="[object Object]" value="GTM">Guatemala</option>
    <option data-test-type="select-option" hint="[object Object]" value="GGY">Guernsey</option>
    <option data-test-type="select-option" hint="[object Object]" value="GIN">Guinea</option>
    <option data-test-type="select-option" hint="[object Object]" value="GNB">Guinea-Bissau</option>
    <option data-test-type="select-option" hint="[object Object]" value="GUY">Guyana</option>
    <option data-test-type="select-option" hint="[object Object]" value="HTI">Haiti</option>
    <option data-test-type="select-option" hint="[object Object]" value="HND">Honduras</option>
    <option data-test-type="select-option" hint="[object Object]" value="HKG">Hong Kong Special Administrative Region of China</option>
    <option data-test-type="select-option" hint="[object Object]" value="HUN">Hungary</option>
    <option data-test-type="select-option" hint="[object Object]" value="ISL">Iceland</option>
    <option data-test-type="select-option" hint="[object Object]" value="IND">India</option>
    <option data-test-type="select-option" hint="[object Object]" value="IDN">Indonesia</option>
    <option data-test-type="select-option" hint="[object Object]" value="IRN">Iran</option>
    <option data-test-type="select-option" hint="[object Object]" value="IRQ">Iraq</option>
    <option data-test-type="select-option" hint="[object Object]" value="IRL">Ireland</option>
    <option data-test-type="select-option" hint="[object Object]" value="IMN">Isle of Man</option>
    <option data-test-type="select-option" hint="[object Object]" value="ISR">Israel</option>
    <option data-test-type="select-option" hint="[object Object]" value="ITA">Italy</option>
    <option data-test-type="select-option" hint="[object Object]" value="CIV">Ivory Coast</option>
    <option data-test-type="select-option" hint="[object Object]" value="JAM">Jamaica</option>
    <option data-test-type="select-option" hint="[object Object]" value="JPN">Japan</option>
    <option data-test-type="select-option" hint="[object Object]" value="JEY">Jersey</option>
    <option data-test-type="select-option" hint="[object Object]" value="JOR">Jordan</option>
    <option data-test-type="select-option" hint="[object Object]" value="KAZ">Kazakhstan</option>
    <option data-test-type="select-option" hint="[object Object]" value="KEN">Kenya</option>
    <option data-test-type="select-option" hint="[object Object]" value="KIR">Kiribati</option>
    <option data-test-type="select-option" hint="[object Object]" value="XXK">Kosovo</option>
    <option data-test-type="select-option" hint="[object Object]" value="KWT">Kuwait</option>
    <option data-test-type="select-option" hint="[object Object]" value="KGZ">Kyrgyzstan</option>
    <option data-test-type="select-option" hint="[object Object]" value="LAO">Laos</option>
    <option data-test-type="select-option" hint="[object Object]" value="LVA">Latvia</option>
    <option data-test-type="select-option" hint="[object Object]" value="LBN">Lebanon</option>
    <option data-test-type="select-option" hint="[object Object]" value="LSO">Lesotho</option>
    <option data-test-type="select-option" hint="[object Object]" value="LBR">Liberia</option>
    <option data-test-type="select-option" hint="[object Object]" value="LBY">Libya</option>
    <option data-test-type="select-option" hint="[object Object]" value="LIE">Liechtenstein</option>
    <option data-test-type="select-option" hint="[object Object]" value="LTU">Lithuania</option>
    <option data-test-type="select-option" hint="[object Object]" value="LUX">Luxembourg</option>
    <option data-test-type="select-option" hint="[object Object]" value="MDG">Madagascar</option>
    <option data-test-type="select-option" hint="[object Object]" value="MWI">Malawi</option>
    <option data-test-type="select-option" hint="[object Object]" value="MYS">Malaysia</option>
    <option data-test-type="select-option" hint="[object Object]" value="MDV">Maldives</option>
    <option data-test-type="select-option" hint="[object Object]" value="MLI">Mali</option>
    <option data-test-type="select-option" hint="[object Object]" value="MLT">Malta</option>
    <option data-test-type="select-option" hint="[object Object]" value="MHL">Marshall Islands</option>
    <option data-test-type="select-option" hint="[object Object]" value="MRT">Mauritania</option>
    <option data-test-type="select-option" hint="[object Object]" value="MUS">Mauritius</option>
    <option data-test-type="select-option" hint="[object Object]" value="MEX">Mexico</option>
    <option data-test-type="select-option" hint="[object Object]" value="FSM">Micronesia</option>
    <option data-test-type="select-option" hint="[object Object]" value="MDA">Moldova</option>
    <option data-test-type="select-option" hint="[object Object]" value="MCO">Monaco</option>
    <option data-test-type="select-option" hint="[object Object]" value="MNG">Mongolia</option>
    <option data-test-type="select-option" hint="[object Object]" value="MNE">Montenegro</option>
    <option data-test-type="select-option" hint="[object Object]" value="MSR">Montserrat</option>
    <option data-test-type="select-option" hint="[object Object]" value="MAR">Morocco</option>
    <option data-test-type="select-option" hint="[object Object]" value="MOZ">Mozambique</option>
    <option data-test-type="select-option" hint="[object Object]" value="MMR">Myanmar (Burma)</option>
    <option data-test-type="select-option" hint="[object Object]" value="NAM">Namibia</option><option data-test-type="select-option" hint="[object Object]" value="NRU">Nauru</option>
    <option data-test-type="select-option" hint="[object Object]" value="NPL">Nepal</option><option data-test-type="select-option" hint="[object Object]" value="NLD">Netherlands</option>
    <option data-test-type="select-option" hint="[object Object]" value="NZL">New Zealand</option>
    <option data-test-type="select-option" hint="[object Object]" value="NIC">Nicaragua</option>
    <option data-test-type="select-option" hint="[object Object]" value="NER">Niger</option>
    <option data-test-type="select-option" hint="[object Object]" value="NGA">Nigeria</option>
    <option data-test-type="select-option" hint="[object Object]" value="NIU">Niue</option>
    <option data-test-type="select-option" hint="[object Object]" value="PRK">North Korea</option>
    <option data-test-type="select-option" hint="[object Object]" value="MKD">North Macedonia</option>
    <option data-test-type="select-option" hint="[object Object]" value="NOR">Norway</option>
    <option data-test-type="select-option" hint="[object Object]" value="OMN">Oman</option>
    <option data-test-type="select-option" hint="[object Object]" value="PAK">Pakistan</option>
    <option data-test-type="select-option" hint="[object Object]" value="PLW">Palau</option>
    <option data-test-type="select-option" hint="[object Object]" value="PSE">Palestinian Territory Occupied</option>
    <option data-test-type="select-option" hint="[object Object]" value="PAN">Panama</option>
    <option data-test-type="select-option" hint="[object Object]" value="PNG">Papua New Guinea</option>
    <option data-test-type="select-option" hint="[object Object]" value="PRY">Paraguay</option>
    <option data-test-type="select-option" hint="[object Object]" value="XXX">Person of Unspecified Nationality</option>
    <option data-test-type="select-option" hint="[object Object]" value="PER">Peru</option>
    <option data-test-type="select-option" hint="[object Object]" value="PHL">Philippines</option>
    <option data-test-type="select-option" hint="[object Object]" value="PCN">Pitcairn, Henderson, Ducie and Oeno Islands</option>
    <option data-test-type="select-option" hint="[object Object]" value="POL">Poland</option>
    <option data-test-type="select-option" hint="[object Object]" value="PRT">Portugal</option>
    <option data-test-type="select-option" hint="[object Object]" value="PRI">Puerto Rico</option>
    <option data-test-type="select-option" hint="[object Object]" value="QAT">Qatar</option>
    <option data-test-type="select-option" hint="[object Object]" value="XXB">Refugee - Article 1 of the 1951 Convention</option>
    <option data-test-type="select-option" hint="[object Object]" value="XXC">Refugee - Other</option>
    <option data-test-type="select-option" hint="[object Object]" value="ROU">Romania</option>
    <option data-test-type="select-option" hint="[object Object]" value="RUS">Russia</option>
    <option data-test-type="select-option" hint="[object Object]" value="RWA">Rwanda</option>
    <option data-test-type="select-option" hint="[object Object]" value="WSM">Samoa</option>
    <option data-test-type="select-option" hint="[object Object]" value="SMR">San Marino</option>
    <option data-test-type="select-option" hint="[object Object]" value="STP">Sao Tome and Principe</option>
    <option data-test-type="select-option" hint="[object Object]" value="SAU">Saudi Arabia</option>
    <option data-test-type="select-option" hint="[object Object]" value="SEN">Senegal</option>
    <option data-test-type="select-option" hint="[object Object]" value="SRB">Serbia</option>
    <option data-test-type="select-option" hint="[object Object]" value="SYC">Seychelles</option>
    <option data-test-type="select-option" hint="[object Object]" value="SLE">Sierra Leone</option>
    <option data-test-type="select-option" hint="[object Object]" value="SGP">Singapore</option>
    <option data-test-type="select-option" hint="[object Object]" value="SVK">Slovakia</option>
    <option data-test-type="select-option" hint="[object Object]" value="SVN">Slovenia</option>
    <option data-test-type="select-option" hint="[object Object]" value="SLB">Solomon Islands</option>
    <option data-test-type="select-option" hint="[object Object]" value="SOM">Somalia</option>
    <option data-test-type="select-option" hint="[object Object]" value="ZAF">South Africa</option>
    <option data-test-type="select-option" hint="[object Object]" value="SGS">South Georgia and South Sandwich Islands</option>
    <option data-test-type="select-option" hint="[object Object]" value="KOR">South Korea</option>
    <option data-test-type="select-option" hint="[object Object]" value="SSD">South Sudan</option>
    <option data-test-type="select-option" hint="[object Object]" value="ESP">Spain</option>
    <option data-test-type="select-option" hint="[object Object]" value="LKA">Sri Lanka</option>
    <option data-test-type="select-option" hint="[object Object]" value="SHN">St Helena, Ascension and Tristan da Cunha</option>
    <option data-test-type="select-option" hint="[object Object]" value="KNA">St Kitts and Nevis</option>
    <option data-test-type="select-option" hint="[object Object]" value="LCA">St Lucia</option>
    <option data-test-type="select-option" hint="[object Object]" value="VCT">St Vincent</option>
    <option data-test-type="select-option" hint="[object Object]" value="XXA">Stateless Person - Article 1 of 1954 Convention</option>
    <option data-test-type="select-option" hint="[object Object]" value="SDN">Sudan</option>
    <option data-test-type="select-option" hint="[object Object]" value="SUR">Suriname</option>
    <option data-test-type="select-option" hint="[object Object]" value="SWE">Sweden</option>
    <option data-test-type="select-option" hint="[object Object]" value="CHE">Switzerland</option>
    <option data-test-type="select-option" hint="[object Object]" value="SYR">Syria</option>
    <option data-test-type="select-option" hint="[object Object]" value="TWN">Taiwan</option>
    <option data-test-type="select-option" hint="[object Object]" value="TJK">Tajikistan</option>
    <option data-test-type="select-option" hint="[object Object]" value="TZA">Tanzania</option>
    <option data-test-type="select-option" hint="[object Object]" value="THA">Thailand</option>
    <option data-test-type="select-option" hint="[object Object]" value="BHS">The Bahamas</option>
    <option data-test-type="select-option" hint="[object Object]" value="GMB">The Gambia</option>
    <option data-test-type="select-option" hint="[object Object]" value="TGO">Togo</option>
    <option data-test-type="select-option" hint="[object Object]" value="TON">Tonga</option>
    <option data-test-type="select-option" hint="[object Object]" value="TTO">Trinidad and Tobago</option>
    <option data-test-type="select-option" hint="[object Object]" value="TUN">Tunisia</option>
    <option data-test-type="select-option" hint="[object Object]" value="TUR">Turkey</option>
    <option data-test-type="select-option" hint="[object Object]" value="TKM">Turkmenistan</option>
    <option data-test-type="select-option" hint="[object Object]" value="TCA">Turks and Caicos Islands</option>
    <option data-test-type="select-option" hint="[object Object]" value="TUV">Tuvalu</option>
    <option data-test-type="select-option" hint="[object Object]" value="UGA">Uganda</option>
    <option data-test-type="select-option" hint="[object Object]" value="UKR">Ukraine</option>
    <option data-test-type="select-option" hint="[object Object]" value="ARE">United Arab Emirates</option>
    <option data-test-type="select-option" hint="[object Object]" value="GBR">United Kingdom</option>
    <option data-test-type="select-option" hint="[object Object]" value="UNO">United Nations</option>
    <option data-test-type="select-option" hint="[object Object]" value="UNA">United Nations Agency</option>
    <option data-test-type="select-option" hint="[object Object]" value="USA">United States</option>
    <option data-test-type="select-option" hint="[object Object]" value="URY">Uruguay</option>
    <option data-test-type="select-option" hint="[object Object]" value="UZB">Uzbekistan</option>
    <option data-test-type="select-option" hint="[object Object]" value="VUT">Vanuatu</option>
    <option data-test-type="select-option" hint="[object Object]" value="VAT">Vatican City</option>
    <option data-test-type="select-option" hint="[object Object]" value="VEN">Venezuela</option>
    <option data-test-type="select-option" hint="[object Object]" value="VNM">Vietnam</option>
    <option data-test-type="select-option" hint="[object Object]" value="ESH">Western Sahara</option>
    <option data-test-type="select-option" hint="[object Object]" value="YEM">Yemen</option>
    <option data-test-type="select-option" hint="[object Object]" value="ZMB">Zambia</option>
    <option data-test-type="select-option" hint="[object Object]" value="ZWE">Zimbabwe</option>
    </select>
   </div>
   <br>
  </div>
</fieldset>
<div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Save and continue"}) }}
      </div>
     </form> 

      
    </div>
  </div>

{% endblock %}
