{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <form class="form" action="/public-facing/check-answers-personal-details" method="post">

        
  
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="address-in-uk-hint" action="/public-facing/address-qu" method="post">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Is your home address a UK address?
      </h1>
      <br>
    </legend>
    <div id="address-in-uk-hint" class="govuk-hint">
      Please state if your address is in the United Kingdom
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item" >
        <input class="govuk-radios__input" id="address" name="address" type="radio" value="yes~/public-facing/address-uk" aria-describedby="address-hint" >
        <label class="govuk-label govuk-radios__label" for="address" >
          <strong>Yes</strong>
        </label>
        </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="address2" name="address2" type="radio" value="no~/public-facing/address-int" aria-describedby="address2-hint">
        <label class="govuk-label govuk-radios__label" for="address2">
          <strong>No</strong>
        </label>
        
      </div>
    </div>
  </fieldset>
</div>

      
  
</form>
      
<br>
      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Save and continue"}) }}
      </div>
    </div>
  </div>

{% endblock %}
