{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Clown licence",
  serviceUrl: "#",
  navigation: [
      {
      href: "#",
      text: "Start"
      },
    {
      href: "#",
      text: "Application",
      active: true
    },
    {
      href: "#",
      text: "Documents"
    },
    {
      href: "#",
      text: "Declaration"
    },
    {
      href: "#",
      text: "Pay"
    }
  ]
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

      <form class="form" action="/tasklist" method="post" novalidate>

      <div class="govuk-width-container">
  
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your answers before continuing to the next section</h1>
        <h2 class="govuk-heading-m">Personal details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">    
           {{ data["firstName"] }}  {{ data["lastName"] }}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="personal-details">Change<span class="govuk-visually-hidden">name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
          {{ data['dob-day']}} {{ data['dob-month']| toMonth }} {{ data['dob-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="birth-date">Change<span class="govuk-visually-hidden">birth-date</span></a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Identity document
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["identityDocument"] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="identity-document">Change<span class="govuk-visually-hidden">identity-document</span></a>
            </dd>
          </div>
          </div>
        </dl>
        
        
        <form action="progress" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          
        </form>
         </div>
    </div>

        <h2 class="govuk-heading-m">Now accept and submit your changes</h2>
          <form action="/public-facing/tasklist" method="post" novalidate>


{{ govukButton({

text: "Accept and submit"

}) }}


</form>
       </main>
</div>  
  
  


      

{% endblock %}
