{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Clown licence",
  serviceUrl: "#",
  navigation: [
      {
      href: "#",
      text: "Start"
      },
    {
      href: "#",
      text: "Application",
      active: true
    },
    {
      href: "#",
      text: "Documents"
    },
    {
      href: "#",
      text: "Declaration"
    },
    {
      href: "#",
      text: "Pay"
    }
  ]
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

      <div class="govuk-width-container">
  
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your answers before continuing to the next section</h1>
        <h2 class="govuk-heading-m">Contact details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address in the UK
            </dt>
            <dd class="govuk-summary-list__value">    
           {{ data["address"]}} 

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address-qu">Change<span class="govuk-visually-hidden">address-uk</span></a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">

               {% if data["address"] == 'yes' %}
                 <!--<div id="address-uk">-->
                {{ data["addressLine1"] }} <br>  
                {{ data["addressLine2"] }} <br>
                {{ data["addressTown"] }}  <br>
                {{ data["addressCounty"] }} <br>
                {{ data["addressPostcode"] }} <br>
                 <!--</div>-->
                 {% else %}
                <!--<div id="address-int">-->
                {{ data["intAddressLine1"] }}  <br>
                {{ data["intAddressLine2"] }} <br> 
                {{ data["intAddressTown"] }}  <br>
                {{ data["addressState"] }}  <br>
                {{ data["addressPostalCode"] }} <br> 
                {{ data["addressCountry"] }} <br>
                <!--</div>-->
                {% endif %}
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:history.back()">Change<span class="govuk-visually-hidden">Address</span></a>
            </dd>
                  
          </div>
        </dl>
     
         </div>
    </div>

        <h2 class="govuk-heading-m">Now accept and submit your changes</h2>
          <form action="tasklist" method="post" novalidate>
          <input type="hidden" name="address-details-checked" value="true">

{{ govukButton({

text: "Accept and submit"

}) }}

</form>
   </main>    
</div>  
  

{% endblock %}
