{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Clown licence",
  serviceUrl: "#",
  navigation: [
      {
      href: "#",
      text: "Start"
      },
    {
      href: "#",
      text: "Application",
      active: true
    },
    {
      href: "#",
      text: "Documents"
    },
    {
      href: "#",
      text: "Declaration"
    },
    {
      href: "#",
      text: "Pay"
    }
  ]
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

      <form class="form" action="/tasklist" method="post" novalidate>

      <div class="govuk-width-container">
  
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your answers before continuing to the next section</h1>
        <h2 class="govuk-heading-m">Contact details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address in the UK
            </dt>
            <dd class="govuk-summary-list__value">    
           {{ data["address"]}} 

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address-qu">Change<span class="govuk-visually-hidden">address-uk</span></a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">

               {% if data["address"] == 'yes' %}
                 <!--<div id="address-uk">-->+
                {{ data["addressLine1"] }} <br>  
                {{ data["addressLine2"] }} <br>
                {{ data["addressTown"] }}  <br>
                {{ data["addressCounty"] }} <br>
                {{ data["addressPostcode"] }} <br>
                 <!--</div>-->
                 {% else %}
                <!--<div id="address-int">-->
                {{ data["intAddressLine1"] }}  <br>
                {{ data["intAddressLine2"] }} <br> 
                {{ data["intAddressTown"] }}  <br>
                {{ data["addressState"] }}  <br>
                {{ data["addressPostalCode"] }} <br> 
                {{ data["addressCountry"] }} <br>
                <!--</div>-->
                {% endif %}
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address-uk">Change<span class="govuk-visually-hidden">address-uk</span></a>
            </dd>
                
               
                
            

               <!--{% if user_answer == 'address-uk' %}
            <div id="address-uk">
       {{ data['addressLine1'] + " " + data['address-line-2'] + " " + data['address-town'] + " " + data['address-county'] + " " + data['address-postcode']}}
          {{ data['addressLine1']}} {{ data['address-line-2']}} {{ data['address-town']}} {{ data['address-county']}} {{ data['address-postcode']}} 
            
      </div>-->
    <!--{% else %}
      <div id="address-int">
        {{ data['address-line-1'] + " " + data['address-line-2'] + " " + data['address-town'] + " " + data['address-state'] + " " + data['address-postcode'] + " " + data['address-country'] }}
          {{ data['address-line-1']}} {{ data['address-line-2']}} {{ data['address-town']}} {{ data['address-state']}} {{ data['address-postcode']}} {{ data['address-country']}}
      </div>
    {% endif %}  -->
         
           
            
            
          </div>
          
          
          </div>
        </dl>
        
        
        <form action="/form-handler" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          
        </form>
         </div>
    </div>

        <h2 class="govuk-heading-m">Now accept and submit your changes</h2>
          <form action="/public-facing/tasklist" method="post" novalidate>


{{ govukButton({

text: "Accept and submit"

}) }}


</form>
       </main>
</div>  
  
  


      

{% endblock %}
