{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Clown licence",
  serviceUrl: "#",
  navigation: [
      {
      href: "#",
      text: "Start"
      },
    {
      href: "#",
      text: "Application",
      active: true
    },
    {
      href: "#",
      text: "Documents"
    },
    {
      href: "#",
      text: "Declaration"
    },
    {
      href: "#",
      text: "Pay"
    }
  ]
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

      <form class="form" action="/tasklist" method="post" novalidate>

      <div class="govuk-width-container">
  
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your answers before continuing to the next section</h1>
        <h2 class="govuk-heading-m">Contact details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone
            </dt>
            <dd class="govuk-summary-list__value">    
           {{ data["telephone"] }}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/public-facing/telephone">Change<span class="govuk-visually-hidden">telephone</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
          {{ data["email"] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/public-facing/email">Change<span class="govuk-visually-hidden">email</span></a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred method of contact
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["preferred-contact"] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/public-facing/preferred-contact">Change<span class="govuk-visually-hidden">preferred-contact</span></a>
            </dd>
          </div>
          </div>
        </dl>
        
        
        <form action="/form-handler" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          
</form>
        </div>
    </div>

        <h2 class="govuk-heading-m">Now accept and submit your changes</h2>
          <form action="tasklist" method="post" novalidate>

{{ govukButton({text: "Accept and submit"}) }}




       </main>
       </form>
</div>  
  
  


      

{% endblock %}
