{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  
      <div class="govuk-width-container">
  
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your answers before continuing to the next section</h1>
        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Where will you be working?
            </dt>
            <dd class="govuk-summary-list__value">
              {% for workPlace in data["work-places"] %}
                {{ workPlace }}<br>
              {% endfor %}
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="work-places">Change<span class="govuk-visually-hidden">work-places</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which hospitals will you be working at?
            </dt>
            <dd class="govuk-summary-list__value">
               {% if data["hospitals"]!= null %}
                {{ data["hospitals1"] }} <br>  
                {{ data["hospitals2"] }} <br>
                {{ data["hospitals3"] }}  <br>
                {{ data["hospitals4"] }} <br>
                {{ data["hospitals5"] }} <br>
              {% endif %}
               </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="hospitals">Change<span class="govuk-visually-hidden">hospitals</span></a>
            </dd>
          
     </dl>
   


      <h2 class="govuk-heading-m">Now accept and submit your changes</h2><br>
      <form action="tasklist" method="post" novalidate>
         <input type="hidden" name="work-places-checked" value="true">


        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
