{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Clown licence",
  serviceUrl: "#",
  navigation: [
      {
      href: "#",
      text: "Start"
      },
    {
      href: "#",
      text: "Application",
      active: true
    },
    {
      href: "#",
      text: "Documents"
    },
    {
      href: "#",
      text: "Declaration"
    },
    {
      href: "#",
      text: "Pay"
    }
  ]
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-l">
        What is your name?
      </h1>

      <form class="form" action="birth-date" method="post" novalidate>

        
  <div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    First name
  </label>
  <input class="govuk-input" id="first-name" name="firstName" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Last name
  </label>
  <input class="govuk-input" id="last-name" name="lastName" type="text">
</div>
 
 
<br>
<div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Save and continue" }) }}
      </div>
 
      </form>
 

    </div>
  </div>
 
{% endblock %}
