{% set serviceName = "" %}
{% extends "layouts/main.html" %}
{% block beforeContent %}
{{ govukBackLink({
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
      
<legend class="govuk-fieldset_legend govuk-fieldset_legend--l govuk-!-margin-bottom-6">
      <h1 class="govuk-heading-l">
        What is your name?
      </h1>
</legend>
 


<form class="form" action="birth-date" method="post" novalidate>
  
<div class="govuk-form-group">
  <label class="govuk-label" for="two-thirds">
    First name
  </label>
  <input class="govuk-input govuk-!-width-two-thirds" id="first-name" name="firstName" type="text" required>
 </div>


<div class="govuk-form-group">
  <label class="govuk-label" for="two-thirds">
    Last name
  </label>
  <input class="govuk-input govuk-!-width-two-thirds" id="last-name" name="lastName" type="text">
</div>
 
 

<br>
<div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Save and continue" }) }}
      </div>
 
      </form>
 

    </div>
  </div>
 
{% endblock %}





