{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Clown licence",
  serviceUrl: "#",
  navigation: [
      {
      href: "#",
      text: "Start"
      },
    {
      href: "#",
      text: "Application",
      active: true
    },
    {
      href: "#",
      text: "Documents"
    },
    {
      href: "#",
      text: "Declaration"
    },
    {
      href: "#",
      text: "Pay"
    }
  ]
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<div class="govuk-form-group">
  <form class="form" action="/public-facing/physical-skills" method="post">
    <fieldset class="govuk-fieldset">
     
      
 
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="skills-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you have any clown skills?
      </h1>
    </legend>
    <div id="skills-hint" class="govuk-hint">
      Select one option
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="skills" name="skills" type="radio" value="yes~/public-facing/physical-skills" data-aria-controls="conditional-skills">
        <label class="govuk-label govuk-radios__label" for="skills">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-skills">
        <div class="govuk-form-group" class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
         
          <div id="more-detail-hint" class="govuk-hint">
            Provide details of any skills you have, such as:
            
  <ul>
    <li>Physical comedy, including tumbling, acrobatics and juggling</li>
    <li>Improvisation</li>
    <li>Audience engagement, including story telling</li>
    <li>Magic tricks</li>
    <li>Emotional intelligence</li>
    <li>Any other clown skills</li>
  </div>
  
          
          <textarea class="govuk-textarea govuk-js-character-count" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
          <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 200 characters
  </div>
        </div>
      </div>
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="skills-2" name="skills" type="radio" value="no~/public-facing/physical-skills">
        <label class="govuk-label govuk-radios__label" for="skills-2">
          No
        </label>
      </div> 
      
    </div>
  </fieldset>
</div>
<br>
<div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Save and continue" }) }}
      </div>
 
      </form>
 

    </div>
  </div>
 
{% endblock %}
