{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Clown licence",
  serviceUrl: "#",
  navigation: [
      {
      href: "#",
      text: "Start"
      },
    {
      href: "#",
      text: "Application",
      active: true
    },
    {
      href: "#",
      text: "Documents"
    },
    {
      href: "#",
      text: "Declaration"
    },
    {
      href: "#",
      text: "Pay"
    }
  ]
}) }}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  
  href: "javascript: window.history.go(-1)"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


      <h1 class="govuk-heading-l">Tasks you need to complete to apply for a clown licence</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

{% if data["answers-checked"] == "true" %}
      
      {% set completedStatus = {
        text: "Completed"
      } %} 
{% else %}
      {% set incompleteStatus = { 
        tag: { 
          text: "Incomplete", 
          class: "govuk-tag--blue" 
          } } %} 

{% endif %} 

 
      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Identity details"
            },
            href: "personal-details",
            status: (completedStatus if data["answers-checked"] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Address"
            },
            href: "address-qu",
            status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Contact details"
            },
            href: "telephone",
            status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
          }
        ]
      }) }}

      
      <h2 class="govuk-heading-m govuk-!-margin-top-5">Skills</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Name of fourth task"
            },
            href: "#",
            status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Name of fifth task"
            },
            href: "#",
            status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Name of sixth task"
            },
            href: "#",
            status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Name of seventh task"
            },
            href: "#",
            status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Name of eighth task"
            },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      }
                    ]
                  }) }}
            <h2 class="govuk-heading-m govuk-!-margin-top-5">Places of work</h2>

                  {{ govukTaskList({
                    idPrefix: "third-section",
                    items: [
                      {
                        title: {
                          text: "Name of ninth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of tenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of eleventh task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of twelth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of thirteenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      }
                    ]
                  }) }}
            <h2 class="govuk-heading-m govuk-!-margin-top-5">Update evidence</h2>

                  {{ govukTaskList({
                    idPrefix: "fourth-section",
                    items: [
                      {
                        title: {
                          text: "Name of fourteenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of fifteenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of sixteenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of seventeenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of eighteenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      }
                    ]
                  }) }}

                  <div class="govuk-!-margin-top-5">
                    {{ govukButton({ text: "Apply", href: "personal-details" }) }}
                  </div>

                </div>
              </div>
{% endblock %}
