{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Clown licence",
  serviceUrl: "#",
  navigation: [
      {
      href: "#",
      text: "Start"
      },
    {
      href: "#",
      text: "Application",
      active: true
    },
    {
      href: "#",
      text: "Documents"
    },
    {
      href: "#",
      text: "Declaration"
    },
    {
      href: "#",
      text: "Pay"
    }
  ]
}) }}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  
  href: "javascript: window.history.go(-1)"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


      <h1 class="govuk-heading-l">Tasks you need to complete to apply for a clown licence</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      
      {% set completedStatus = {
        text: "Completed"
      } %} 

      {% set incompleteStatus = { 
        tag: { 
          text: "Incomplete", 
          class: "govuk-tag--blue" 
          } } %} 


 
      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Identity details"
            },
            href: "check-answers-personal-details",
            status: (completedStatus if data["personal-details-checked"] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Address"
            },
            href: "check-answers-address",
            status: (completedStatus if data['address-details-checked'] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Contact details"
            },
            href: "check-answers-contact",
            status: (completedStatus if data['contact-details-checked'] == 'true' else incompleteStatus)
          }
        ]
      }) }}

      
      <h2 class="govuk-heading-m govuk-!-margin-top-5">Skills</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Clown skills"
            },
            href: "skills",
            status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Physical skills"
            },
            href: "physical-skills",
            status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Country of training"
            },
            href: "country-skills-training",
            status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
          }
       ]
                  }) }}
            <h2 class="govuk-heading-m govuk-!-margin-top-5">Places of work</h2>

                  {{ govukTaskList({
                    idPrefix: "third-section",
                    items: [
                      {
                        title: {
                          text: "Places you have worked"
                        },
                        href: "work-places",
                        status: (completedStatus if data['work-places-checked'] == 'true' else incompleteStatus)
                      }
                
                    ]
                  }) }}
                  
            <h2 class="govuk-heading-m govuk-!-margin-top-5">Update evidence</h2>

                  {{ govukTaskList({
                    idPrefix: "fourth-section",
                    items: [
                      {
                        title: {
                          text: "Name of fourteenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of fifteenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of sixteenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of seventeenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      },
                      {
                        title: {
                          text: "Name of eighteenth task"
                        },
                        href: "#",
                        status: (completedStatus if data['answers-checked'] == 'true' else incompleteStatus)
                      }
                    ]
                  }) }}
<h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you have provided are correct.
      </p>
                  <div class="govuk-!-margin-top-5">
                    {{ govukButton({ text: "Apply", href: "personal-details" }) }}
                  </div>

                </div>
              </div>
{% endblock %}
