{% extends "layouts/main.html" %}


{% block homeOfficeKit_style %}
<!-- Add css to apply just to this page. For example:
.my-style {
  color: red;
}
The <style> tage is already included. -->
  	.hods-header {
    background-color: #ffffff !important;
}

.govuk-template__body, .hods-page {
    margin: 0;
    background-color: #f3f2f1 !important;
}

.govuk-tabs__list-item--selected {
    background-color: #f3f2f1 !important;
}

.govuk-main-wrapper {
 padding-top: 0px;
}

.govuk-tabs__panel 
{

}

.govuk-header {
    border-bottom: 0px solid #ffffff;
}

.autocomplete__wrapper {
  background-color: #ffffff;
}

.govuk-header__logo {
display:none;
}

.govuk-header__container {
border-bottom: none;
margin-bottom: 0;
}

.govuk-service-navigation {
    border-bottom: 1px solid #b1b4b6;
    background-color: #f3f2f1;
}

.govuk-service-navigation__link {
   display: inline;
   color: #1d70b8;
   text-decoration: none;
     box-sizing: border-box;
        height: 3.125rem;
        padding: 0 15px;
        float: left;
        line-height: 50px;
}

.govuk-service-navigation__item {
   display: inline;
   color: #1d70b8;
   text-decoration: none;
   font-weight: 700;
     box-sizing: border-box;
        height: 3.125rem;
        padding: 0 15px;
        line-height: 50px;
}

.govuk-service-navigation__item a:visited{
color: #1d70b8;
}

.govuk-service-navigation__list {
padding: 0;
margin:0;
}

.app-navigation__list-item--current {
  border-bottom: 5px solid #1d70b8;
}

.govuk-pagination {
  margin-left:20px;
}

.govuk-accordion__controls {
  display:none;
}

.govuk-accordion__section-button {
border-top: 0px solid #b1b4b6 !important;
}

.govuk-tag {
  margin-bottom: 10px;
}
  
{% include "current/dropdowns/_autocomplete.css" %}
{% endblock %}

{% block pageTitle %}
Task management – {{ serviceName }} – Home office
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is for testing purposes only. No code should be considered for development.'
  }) }}

{{ govukBackLink({
text: messages__button__back,
href: "javascript:window.history.back();"
}) }}

{% endblock beforeContent %}

{% block content %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<link rel="stylesheet" href="/public/javascripts/accessible-autocomplete.min.css" />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   {% from "govuk/components/select/macro.njk" import govukSelect %}


    
    <h1 class="govuk-heading-xl">
      Clown licence applications
    </h1>

 {% set approvededStatus = {
  tag: {
        text: "Approved",
        class: "govuk-tag--green"
      }
    } %}

     {% set incompleteStatus = { 
        tag: { 
          text: "Incomplete", 
          class: "govuk-tag--blue" 
          } } %} 

    {% set incompleteStatus = {
  tag: {
    text: "Incomplete",
    class: "govuk-tag--red"
    } } %} 
{# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}


<!--{{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Identity details"
            },
            href: "cya-applications",
            status: (approvedStatus if data["personal-details-checked"] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Address"
            },
            href: "check-answers-address",
            status: (aspprovedStatus if data['address-details-checked'] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Contact details"
            },
            href: "check-answers-contact",
            status: (approvedStatus if data['contact-details-checked'] == 'true' else incompleteStatus)
          }
        ]
      }) }}-->


<table class="govuk-table" data-module="moj-sortable-table">

      <h2 class="govuk-heading-m">Process the applications in order starting from the top of the list</h2>
       <!--<caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>-->
       
       <thead class="govuk-table__head">
       <tr class="govuk-table__row">
        
        <!-- Applicant Name column (sortable alphabetically) -->
      <th scope="col" class="govuk-table__header" data-sort="name">Applicant Name</th>
      
      <!-- Reference column (sortable numerically) -->
      <th scope="col" class="govuk-table__header" data-sort="reference">Reference</th>
      
      <!-- Date Received column (sortable by date) -->
      <th scope="col" class="govuk-table__header" data-sort="date">Date Received</th>
      
      <!-- Status column (sortable by status type) -->
      <th scope="col" class="govuk-table__header" data-sort="status">Status</th>
      </tr>
      </thead>

  <tbody class="govuk-table__body">

   
      
     <!--<status: (inProgressStatus if data['application-checked'] == 'true' else incompleteStatus)>-->
     <tr class="govuk-table__row">
     <td class="govuk-table__cell">
       <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Adam Acrobat</strong>
      </a>
    </td>     
    <td class="govuk-table__cell" data-sort-value="0015">0015 </td>
      <td class="govuk-table__cell" data-sort-value="2025-07-22 20:41">22 July 2025 - 20:41</td>
      <td class="govuk-table__cell" data-sort-value="Incomplete">
        {{govukTag({
              text: "Incomplete",
              classes: "govuk-tag--red"
            })}}
       </td>
      </tr>
    
    <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Joseph Jangles</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0014">0014 </td>
      <td class="govuk-table__cell" data-sort-value="2025-07-03 16:11">03 July 2025 - 16:11</td>
      <td class="govuk-table__cell" data-sort-value="Referred">
        {{govukTag({
              text: "Referred",
              classes: "govuk-tag--blue"
            })}}
      </td>
    </tr>
    
    <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Jack Funnybones</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0013">0013 </td>
      <td class="govuk-table__cell" data-sort-value="2025-04-28 09:20">28 April 2025 - 09:20</td>
      <td class="govuk-table__cell" data-sort-value="On Hold">
        {{govukTag({
              text: "On hold",
              classes: "govuk-tag--yellow"
            })}}
      </td>
     </tr>
      
    <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Lucky Smile-alot</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0012">0012 </td>
      <td class="govuk-table__cell" data-sort-value="2025-03-16 11:36">16 March 2025 - 11:36</td>
      <td class="govuk-table__cell" data-sort-value="Approved"> 
        {{govukTag({
              text: "Approved",
              classes: "govuk-tag--green"
            })}}
       </td>
      </tr>

      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Rudy the Great</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0011">0011 </td>
      <td class="govuk-table__cell" data-sort-value="2025-03-15 14:21">15 March 2025 - 14:21</td>
      <td class="govuk-table__cell" data-sort-value="Approved">
        {{govukTag({
              text: "Approved",
              classes: "govuk-tag--green"
            })}}  
      </tr>

        <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Chloe Clown</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0010">0010 </td>
      <td class="govuk-table__cell" data-sort-value="2025-02-09 10:03">09 February 2025 - 10:03</td>
      <td class="govuk-table__cell" data-sort-value="Approved">
        {{govukTag({
              text: "Approved",
              classes: "govuk-tag--green"
            })}}  
    </tr>

        <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Nora Nonsense</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0009">0009 </td>
      <td class="govuk-table__cell" data-sort-value="2025-02-07 14:27">07 February 2025 - 14:27</td>
      <td class="govuk-table__cell" data-sort-value="Referred"> 
        {{govukTag({
              text: "On hold",
              classes: "govuk-tag--yellow"
            })}}
      </td>
      </tr>

        <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Marky Magic</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0008">0008 </td>
      <td class="govuk-table__cell" data-sort-value="2025-01-29 09:57">29 January 2025 - 09:57</td>
      <td class="govuk-table__cell" data-sort-value="Approved">
        {{govukTag({
              text: "Approved",
              classes: "govuk-tag--green"
            })}}  
        </td>
      </tr>

    <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Bubbles McGiggle</strong>
      </a>
      </td>      
     <td class="govuk-table__cell" data-sort-value="0007">0007 </td>
      <td class="govuk-table__cell" data-sort-value="2025-01-14 16:12">14 January 2025 - 16:12</td>
      <td class="govuk-table__cell" data-sort-value="Approved">
        {{govukTag({
              text: "Approved",
              classes: "govuk-tag--green"
            })}}  
        </td>
      </tr>

        <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Fizzy McBounce</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0006">0006 </td>
      <td class="govuk-table__cell" data-sort-value="2024-12-20 13:33">20 December 2024 - 13:33</td>
      <td class="govuk-table__cell" data-sort-value="Approved">
        {{govukTag({
              text: "Approved",
              classes: "govuk-tag--green"
            })}}  
        </td>
      </tr>

  <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Jingles McFlip</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0005">0005 </td>
      <td class="govuk-table__cell" data-sort-value="2024-11-29 15:08">29 November 2024 - 15:08</td>
      <td class="govuk-table__cell" data-sort-value="Approved">
       {{govukTag({
              text: "Approved",
              classes: "govuk-tag--green"
            })}}  
     </td>
   </tr>

      </tr>
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Daisy Sprinkles</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0004">0004 </td>
      <td class="govuk-table__cell" data-sort-value="2024-11-22 20:20">22 November 2024 - 20:20</td>
      <td class="govuk-table__cell" data-sort-value="Approved">
        {{govukTag({
                text: "Approved",
                classes: "govuk-tag--green"
              })}}
     </td>
      </tr>

      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Taffy Bumblebliss</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0003">0003 </td>
      <td class="govuk-table__cell" data-sort-value="2024-11-01 12:59">01 November 2024 - 12:59</td>
      <td class="govuk-table__cell" data-sort-value="Approved">
         {{govukTag({
                text: "Approved",
                classes: "govuk-tag--green"
              })}}
       </td>
      </tr>

      </tr>
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Lulu Twinkletoes</strong>
      </a>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0002">0002 </td>
      <td class="govuk-table__cell" data-sort-value="2024-10-17 11:31">17 October 2024 - 11:31</td>
      <td class="govuk-table__cell" data-sort-value="Approved">
         {{govukTag({
                text: "Approved",
                classes: "govuk-tag--green"
              })}}
       </td>
      </tr>

      </tr>
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="cya-0001" style="color:#1d70b8; text-decoration:none;">
        <strong>Snappy Doodle</strong>
      </td>      
      <td class="govuk-table__cell" data-sort-value="0001">0001 </td>
      <td class="govuk-table__cell" data-sort-value="2024-09-29 18:40">29 September 2024 - 18:40</td>
      <td class="govuk-table__cell" data-sort-value="Approved">
        {{govukTag({
              text: "Approved",
              classes: "govuk-tag--green"
            })}}
       </td>
      </tr>
      
      </tbody>

</table>

      <nav class="govuk-pagination" aria-label="Pagination" style="float: right;">

      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
        1
        </a>
        </li>
        <li class="govuk-pagination__item">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
        2
        </a>
        </li>
      </ul>

      <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      </a>
      </div>
  </nav>



  </div>
</div>


<script type="text/javascript">
  // Country with dropdown field
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#what-nationality')
  })
</script>

<script type="text/javascript">
  // Country with dropdown field
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#what-nationality-b')
  })
</script>

<script type="text/javascript">
  // Country with dropdown field
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#what-nationality2')
  })
</script>
{% endblock content %}
