{% extends "layouts/main.html" %}


{% block homeOfficeKit_style %}
<!-- Add css to apply just to this page. For example:
.my-style {
  color: red;
}
The <style> tage is already included. -->
  	.hods-header {
    background-color: #ffffff !important;
}

.govuk-template__body, .hods-page {
    margin: 0;
    background-color: #f3f2f1 !important;
}

.govuk-tabs__list-item--selected {
    background-color: #f3f2f1 !important;
}

.govuk-main-wrapper {
 padding-top: 0px;
}

.govuk-tabs__panel 
{

}

.govuk-header {
    border-bottom: 0px solid #ffffff;
}

.autocomplete__wrapper {
  background-color: #ffffff;
}

.govuk-header__logo {
display:none;
}

.govuk-header__container {
border-bottom: none;
margin-bottom: 0;
}

.govuk-service-navigation {
    border-bottom: 1px solid #b1b4b6;
    background-color: #f3f2f1;
}

.govuk-service-navigation__link {
   display: inline;
   color: #1d70b8;
   text-decoration: none;
     box-sizing: border-box;
        height: 3.125rem;
        padding: 0 15px;
        float: left;
        line-height: 50px;
}

.govuk-service-navigation__item {
   display: inline;
   color: #1d70b8;
   text-decoration: none;
   font-weight: 700;
     box-sizing: border-box;
        height: 3.125rem;
        padding: 0 15px;
        line-height: 50px;
}

.govuk-service-navigation__item a:visited{
color: #1d70b8;
}

.govuk-service-navigation__list {
padding: 0;
margin:0;
}

.app-navigation__list-item--current {
  border-bottom: 5px solid #1d70b8;
}

.govuk-pagination {
  margin-left:20px;
}

.govuk-accordion__controls {
  display:none;
}

.govuk-accordion__section-button {
border-top: 0px solid #b1b4b6 !important;
}

.govuk-tag {
  margin-bottom: 10px;
}
  
{% include "current/dropdowns/_autocomplete.css" %}
{% endblock %}

{% block pageTitle %}
Task management – {{ serviceName }} – Home office
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is for testing purposes only. No code should be considered for development.'
  }) }}

{{ govukBackLink({
text: messages__button__back,
href: "javascript:window.history.back();"
}) }}

{% endblock beforeContent %}

{% block content %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<link rel="stylesheet" href="/public/javascripts/accessible-autocomplete.min.css" />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   {% from "govuk/components/select/macro.njk" import govukSelect %}


    
    <h1 class="govuk-heading-xl">
      Clown licence applications
    </h1>

 {% set approvededStatus = {
  tag: {
        text: "Approved",
        class: "govuk-tag--green"
      }
    } %}
      
      {% set incompleteStatus = { 
        tag: { 
          text: "Incomplete", 
          class: "govuk-tag--red" 
          } } %} 
{# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}


<!--{{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Identity details"
            },
            href: "cya-applications",
            status: (approvedStatus if data["personal-details-checked"] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Address"
            },
            href: "check-answers-address",
            status: (aspprovedStatus if data['address-details-checked'] == 'true' else incompleteStatus)
          },
          {
            title: {
              text: "Contact details"
            },
            href: "check-answers-contact",
            status: (approvedStatus if data['contact-details-checked'] == 'true' else incompleteStatus)
          }
        ]
      }) }}-->


<table class="govuk-table">
      <h2 class="govuk-heading-m">Process the applications in order starting from the top of the list</h2>
       <!--<caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>-->
       <thead class="govuk-table__head">
       <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Applicant name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Reference</th>
      <th scope="col" class="govuk-table__header app-custom-class">Date received</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
       <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Adam Acrobat</strong>
      </a>
      </td>     
      <td class="govuk-table__cell">00015 </td>
      <td class="govuk-table__cell">22 November 2023 - 20:41</td>
      <td class="govuk-table__cell"> 
         </td>
      </tr>
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Joseph Jangles</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">00014 </td>
      <td class="govuk-table__cell">22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">
      </td>
      </tr>
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Jack Funnybones</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">00013 </td>
      <td class="govuk-table__cell">22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">
      </td>
      </tr>
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Lucky Smile-alot</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">00012 </td>
      <td class="govuk-table__cell">22 November 2023 - 20:41</td>
      <td class="govuk-table__cell"> 
       </td>
      </tr>

      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Rudy the Great</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">00011 </td>
      <td class="govuk-table__cell">22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">  
      </tr>

        <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Chloe Clown</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">00010 </td>
      <td class="govuk-table__cell">22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">  
    </tr>

        <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Nora Nonsense</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">00010 </td>
      <td class="govuk-table__cell">22 November 2023 - 20:41</td>
      <td class="govuk-table__cell"> 
      </td>
      </tr>

        <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Marky Magic</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">00009 </td>
      <td class="govuk-table__cell">22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">
        </td>
      <td class="govuk-table__cell"> 
       </td>
      </tr>

        <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Applicant name</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell"> 
        <a href="" style="color:#1d70b8;">
        Change
      </a><br/>
      <a href="" style="color:#1d70b8;">
        Remove
      </a>
      </td>
      </tr>

        <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Applicant name</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell"> 
        <a href="" style="color:#1d70b8;">
        Change
      </a><br/>
      <a href="" style="color:#1d70b8;">
        Remove
      </a>
      </td>
      </tr>
      
      </tr>
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Applicant name</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell"> 
       <a href="" style="color:#1d70b8;">
        Change
      </a><br/>
      <a href="" style="color:#1d70b8;">
        Remove
      </a>
</td>
      </tr>

      </tr>
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Applicant name</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell"> 
       <a href="" style="color:#1d70b8;">
        Change
      </a><br/>
      <a href="" style="color:#1d70b8;">
        Remove
      </a>
</td>
      </tr>

      </tr>
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Applicant name</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell"> 
       <a href="" style="color:#1d70b8;">
        Change
      </a><br/>
      <a href="" style="color:#1d70b8;">
        Remove
      </a>
</td>
      </tr>

      </tr>
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Applicant name</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell"> 
       <a href="" style="color:#1d70b8;">
        Change
      </a><br/>
      <a href="" style="color:#1d70b8;">
        Remove
      </a>
</td>
      </tr>

      </tr>
      <tr class="govuk-table__row">
     <td class="govuk-table__cell">
      <a href="" style="color:#1d70b8; text-decoration:none;">
        <strong>Applicant name</strong>
      </a>
      </td>      
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell">name@email.com <br/> 22 November 2023 - 20:41</td>
      <td class="govuk-table__cell"> 
       <a href="" style="color:#1d70b8;">
        Change
      </a><br/>
      <a href="" style="color:#1d70b8;">
        Remove
      </a>
</td>
      </tr>
      
      </tbody>
      </table>

      <nav class="govuk-pagination" aria-label="Pagination" style="float: right;">

      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
        1
        </a>
        </li>
        <li class="govuk-pagination__item">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
        2
        </a>
        </li>
      </ul>

      <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      </a>
      </div>
  </nav>



  </div>
</div>


<script type="text/javascript">
  // Country with dropdown field
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#what-nationality')
  })
</script>

<script type="text/javascript">
  // Country with dropdown field
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#what-nationality-b')
  })
</script>

<script type="text/javascript">
  // Country with dropdown field
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#what-nationality2')
  })
</script>
{% endblock content %}
